body {
  background-color: #d7d7d7;
  color: #000;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
  padding: 20px;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

h1,
h2 {
  /*color: #ff66cc;*/
  color: black;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.post {
  border-top: 1px dotted #444;
  margin-top: 30px;
  padding-top: 10px;
}

.footer {
  margin-top: 50px;
  color: black;
  font-size: 14px;
}
