body {
  background-color: #252422;
  color: #ccc5b9;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
}

.container {
  max-width: 900px;
  width: 100%;
  padding: 30px;
  background-color: #403d39;

  border: 2px solid #252422;
}

.container p {
  width: 100%;
}

h1,
h2,
h3 {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.post {
  border-top: 1px dotted #444;
  margin-top: 30px;
  padding-top: 10px;
}

.footer {
  margin-top: 50px;
  font-size: 14px;
}
